/* import */
@import "reset.css"; /* reset */
@import "font.css"; /* font */
@import "common.css"; /* 공통 클래스 */

body {
  background: #ffe744;
}

/* form */
form {
  width: 630px;
  height: 1250px;
  margin: 0 auto;
  margin-top: 50px;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 50px auto 15px;
}
fieldset {
  border: none;
}

input,
button,
select,
option {
  vertical-align: middle;
}
.nece {
  color: red;
  font-size: 14px;
  margin-left: 10px;
  font-weight: lighter;
}
p > span {
  color: red;
  font-size: 14px;
  /* margin-left: 160px; */
  /* height: 10px; */
}
input {
  width: 300px;
  height: 30px;
  border: 2px #ddd solid;
  border-radius: 10px;
  padding: 3px 10px;
  /* background: rgb(241, 241, 241); */
  margin: 10px 0;
}
/* p > input {
  display: block;
  margin-left: 130px;
} */
legend {
  font-size: 25px;
  color: rgb(43, 134, 253);
  font-weight: bold;
}

button {
  cursor: pointer;
}
.sub_title {
  text-align: center;
  font-size: 20px;
  color: rgb(109, 109, 109);
}
.txt {
  display: inline-block;
  width: 150px;
}

.nece {
  font-size: 15px;
  color: #f00;
}
.nece01 {
  font-size: 15px;
  width: 2px;
  color: #f00;
  display: inline-block;
  border: 1px solid red;
}
.child_ox p {
  /* display: inline-block; */
  width: 200px;
  font-size: 25px;
  color: rgb(43, 134, 253);
  font-weight: bold;
  margin-top: 40px;
  padding-right: 50px;
}
/* .gender input[type="radio"] {
  width: 50px; 
  display: none;
  display: inline-block; 
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.gender1, .gender2 input[type="radio"] + label {
  width: 50px;
} */

.gender1,
.gender2 {
  width: 50px;
}
.child_o,
.child_x {
  width: 50px;
}
/*.nece > input {
  width: 10px;
  height: 10px;
} */
.agree p:nth-child(-n + 2)::after {
  content: "(필수)";
  color: #f00;
  font-size: 15px;
}
.agree p:nth-child(n + 3):nth-child(-n + 5)::after {
  content: "(선택)";
  color: #777;
  font-size: 15px;
}

.agree_p {
  color: #777;
  font-size: 14px;
}
.agree {
  margin-left: 30px;
}

.btn {
  /* margin-bottom: 100px; */
  text-align: center;
  /* background: #eee; */
}

.btn button {
  margin: 20px auto;
  width: 90px;
  height: 40px;
  vertical-align: middle;
  margin-bottom: 100px;
}
