/* import */
@import "reset.css"; /* reset */
@import "font.css"; /* font */
@import "common.css"; /* 공통 클래스 */

.main_back {
  background: #ffe744;
  /* background: linear-gradient(to top, #fff244, #ffe744); */
  width: 100%;
  height: 900px;
}
/* logo */
h2 {
  text-align: center;
  margin-top: 40px;
}
h2 img {
  width: 250px;
  margin: 0 auto;
  /* text-align: center; */
  display: inline-block;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

/* ID, PW 박스 */
.ID,
.PW {
  width: 220px;
  height: 30px;
  padding: 5px;
  margin: 5px auto;
  text-align: center;
  border: 1px solid #aaa;
}

/* 로그인 유지, IP 보안 */
.keep_login_wrap {
  text-align: center;
}

.keep_login_wrap > div {
  padding: 2px 38px;
  display: inline-block;
}

.keep_login_check .keep_login_IP {
  float: left;
}

.keep_login_wrap span {
  font-size: 12px;
  color: #666;
}
/* .keep_login_wrap,
.keep_login_IP > span {
  padding-top: -5px;
} */
.checkbox {
  /* display: none; */
  width: 15px;
  height: 15px;
  /* background: url(images/checkbox.png) no-repeat; */
}

.switch_button {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  /* right: 6px; */
}

.switch_button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.onoff_switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #ccc;
  box-shadow: inset 1px solid #999;
  -webkit-tranition: 0.4s;
  transition: 0.4s;
}
.onoff_switch:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.4s;
  border-radius: 20px;
}
.switch_button input:checked + .onoff_switch {
  background-color: #f8ba00;
  box-shadow: inset 1px solid #f8ba00;
}
.switch_button input:checked + .onoff_switch:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(14px);
}
/* 구분선 */
hr {
  width: 230px;
  margin: 20px auto 10px auto;
}

/* 로그인 클릭 박스 */
.login {
  width: 230px;
  height: 40px;
  padding: 5px;
  margin: 5px auto 3px;
  background-color: #f8ba00;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* 하단 메뉴 */
.side_menu {
  text-align: center;
}

.side_menu a {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  color: #777;
  display: inline-block;
}

.side_menu ul {
  display: inline-block;
}

.side_menu li {
  float: left;
  padding: 8px;
}

.li_bar1 {
  background: url(../images/footer_bar2.jpg) no-repeat right;
}
.li_bar2 {
  background: url(../images/footer_bar2.jpg) no-repeat right;
}

