/* import */
@import "reset.css"; /* reset */
@import "font.css"; /* font */
@import "common.css"; /* 공통 클래스 */

.main_back {
  background: #ffe744;
  width: 100%;
  height: 780px;
}

/* first */
.mainBn_wrap {
  width: 1400px;
  margin: 0 auto;
}
.mainBn_wrap > div {
  /* margin: 0 auto; */
  font-family: "Katuri";
  font-size: 130px;
  position: absolute;
  line-height: 160px;
  top: 350px;
  color: #0351bd;
  text-shadow: 7px 7px #fff;
  z-index: 6;
}

.first img {
  width: 650px;
  top: -150px;
  left: 800px;
  position: absolute;
  z-index: -3;
}

/* 메인배경 데코 */
.main_deco01 {
  width: 1000px;
  height: 1000px;
  background: url(../images/mbn_deco01.png) no-repeat;
  background-position: top -50px left 300px;
  background-size: 400px 400px;
}

.main_deco02 {
  width: 1000px;
  height: 1000px;
  background: url(../images/mbn_deco02.png) no-repeat;
  background-position: left 500px top 0px;
  background-size: 400px 400px;
}

.main_deco03 {
  width: 100%;
  height: 300px;
  background: url(../images/mbn_deco03.png) no-repeat center;
  position: absolute;
  top: 600px;
}

/* second */
.second {
  width: 100%;
  height: 950px;
  text-align: center;
  background: #fffcee;
}

.growup_wrap {
  padding: 100px 0 20px;
  margin: 0 auto;
  font-size: 35px;
  font-weight: unset;
}

/* best01 */
.best01 {
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

/* best02 */
.best02 {
  margin: 0 auto;
  display: inline-block;
  width: 44%;
}

/* best1 */
.best1 {
  font-family: "GmarketSansMedium";
  font-size: 30px;
  font-weight: lighter;
  background: url(../images/basic01.png) no-repeat;
  width: 240px;
  height: 200px;
  float: left;
  text-align: center;
  padding: 10px auto;
  line-height: 80px;
  margin: 20px;
}

.best1:hover {
  background: url(../images/hover01.png) no-repeat;
  color: #fff;
}
.best1_1 {
  display: inline-block;
}
.best1_2 {
  font-family: "GmarketSansBold";
  font-size: 90px;
}

/* best2 */
.best2 {
  font-family: "GmarketSansMedium";
  font-size: 30px;
  font-weight: lighter;
  background: url(../images/basic01.png) no-repeat;
  width: 240px;
  height: 200px;
  float: left;
  text-align: center;
  padding: 10px auto;
  line-height: 35px;
  margin: 20px;
}

.best2:hover {
  background: url(../images/hover01.png) no-repeat;
  color: #fff;
}

.best2_1 {
  padding-top: 15px;
}

.best2_2 {
  font-family: "GmarketSansBold";
  font-size: 90px;
  line-height: 100px;
  display: inline-block;
}

/* best3 */
.best3 {
  font-family: "GmarketSansMedium";
  font-size: 30px;
  font-weight: lighter;
  background: url(../images/basic01.png) no-repeat;
  width: 240px;
  height: 200px;
  float: left;
  padding: 10px auto;
  line-height: 35px;
  margin: 20px;
}

.best3:hover {
  background: url(../images/hover01.png) no-repeat;
  color: #fff;
}

.best3_1 {
  padding-top: 30px;
}
.best3_2 {
  font-family: "GmarketSansBold";
  font-size: 40px;
  padding-top: 20px;
}

.best3_3 {
  font-size: 20px;
}

/* best4 */
.best4 {
  float: left;
  font-family: "GmarketSansMedium";
  font-size: 30px;
  font-weight: lighter;
  background: url(../images/basic01.png) no-repeat;
  width: 240px;
  height: 200px;
  text-align: center;
  padding: auto;
  line-height: 80px;
  margin: 20px;
}

.best4:hover {
  background: url(../images/hover01.png) no-repeat;
  color: #fff;
}

.best4_2 {
  font-family: "GmarketSansBold";
  font-size: 90px;
}

.best4_3 {
  font-size: 50px;
}

/* best5 */
.best5 {
  float: left;
  font-family: "GmarketSansMedium";
  font-size: 30px;
  font-weight: lighter;
  background: url(../images/basic01.png) no-repeat;
  width: 240px;
  height: 200px;
  text-align: center;
  line-height: 80px;
  margin: 20px;
}

.best5:hover {
  background: url(../images/hover01.png) no-repeat;
  color: #fff;
}

.best5_2 {
  font-family: "GmarketSansBold";
  font-size: 90px;
}

/* best6 */
.best6 {
  clear: both;
  margin: 20px auto;
  color: #9c9c9c;
  width: 100%;
}

/* third */
.third {
  width: 100%;
  height: 950px;
  font-size: 30px;
  background: url(../images/background.jpeg) no-repeat;
}
.purpose01 {
  display: block;
  width: 1400px;
  margin: 0 auto;
  padding-top: 100px;
}
.purpose01 img {
  margin-right: 50px;
  float: left;
  width: 380px;
}

.purpose01_1 {
  float: left;
  padding-top: 100px;
  left: 500px;
}

.purpose_strong1 {
  font-size: 35px;
  color: #006eff;
  text-shadow: 3px 3px #fff;
}

.purpose02 {
  display: block;
  width: 1600px;
  float: left;
  margin: 0 auto;
  position: relative;
  top: -150px;
}

.purpose02 img {
  float: right;
  margin-left: 50px;
  width: 380px;
}

.purpose02_1 {
  float: right;
  padding-top: 100px;
  text-align: right;
}

.purpose03 {
  clear: both;
  font-size: 40px;
  position: relative;
  top: -100px;
  text-align: center;
  font-weight: bold;
}

.purpose03 strong {
  font-size: 55px;
  color: #006eff;
  text-shadow: 3px 3px #fff;
  font-weight: bold;
}

/* fourth */
.fourth {
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  background-color: #32baf5;
}
.fourth_h2_wrap {
  width: 1200px;
  height: 107px;
  margin: 0 auto;
  background: url(../images/sbj_01.png) no-repeat;
}
.fourth_h2_wrap > h2 {
  width: 200px;
  font-size: 45px;
  padding-top: 25px;
  display: inline-block;
}
.notice_h2 a {
  padding-right: 30px;
  text-align: center;
  border-right: 2px solid rgba(250, 250, 250, 0.3);
}
.fourth_h2_wrap a {
  color: #0038a9;
}
.fourth_h2_wrap a:hover {
  color: #fff;
}
/* .fourth_h2_wrap a:active {

} */

/* notice */
.notice {
  clear: both;
  width: 1200px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.notice01 {
  border-bottom: 2px solid #0038a9;
  padding: 30px 0;
  width: 574px;
  left: 16px;
  margin-right: 10px;
  display: inline-block;
}
.notice02 {
  border-bottom: 2px solid #0038a9;
  padding: 30px 0;
  width: 574px;
  right: 16px;
  display: inline-block;
}
.notice03 {
  border-bottom: 2px solid #0038a9;
  padding: 30px 0;
  width: 574px;
  left: 16px;
  margin-right: 10px;
  display: inline-block;
}
.notice04 {
  border-bottom: 2px solid #0038a9;
  padding: 30px 0;
  width: 574px;
  right: 16px;
  display: inline-block;
}

.notice_date {
  font-family: "TmoneyRoundWindExtraBold";
  width: 105px;
  height: 72px;
  font-size: 30px;
  /* border: 1px solid black; */
  margin-right: 25px;
  float: left;
  line-height: 40px;
  text-align: center;
  color: #0038a9;
  overflow: hidden;
  padding: 5px;
}

.notice_content {
  line-height: 40px;
  font-size: 26px;
  text-align: left;
  text-overflow: ellipsis;
  color: #fff;
  padding: 5px;
}

/* review */
.review {
  clear: both;
  width: 1200px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.review01 {
  border-bottom: 2px solid #0038a9;
  padding: 30px 0;
  width: 574px;
  left: 16px;
  margin-right: 10px;
  display: inline-block;
}
.review02 {
  border-bottom: 2px solid #0038a9;
  padding: 30px 0;
  width: 574px;
  right: 16px;
  display: inline-block;
}
.review03 {
  border-bottom: 2px solid #0038a9;
  padding: 30px 0;
  width: 574px;
  left: 16px;
  margin-right: 10px;
  display: inline-block;
}
.review04 {
  border-bottom: 2px solid #0038a9;
  padding: 30px 0;
  width: 574px;
  right: 16px;
  display: inline-block;
}

.review_date {
  font-family: "TmoneyRoundWindExtraBold";
  width: 105px;
  height: 72px;
  font-size: 30px;
  /* border: 1px solid black; */
  margin-right: 25px;
  float: left;
  line-height: 40px;
  text-align: center;
  color: #0038a9;
  overflow: hidden;
  padding: 5px;
}

.review_content {
  line-height: 40px;
  font-size: 26px;
  text-align: left;
  text-overflow: ellipsis;
  color: #fff;
  padding: 5px;
}

/* exp_process */
.exp_process {
  padding-top: 50px;
  width: 1200px;
  margin: 80px auto;
  height: 360px;
  border-radius: 100px;
  background: rgba(250, 250, 250, 0.3);
}

.exp_process h2 {
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 30px;
  color: #0038a9;
}

.exp_process img {
  padding-top: 50px;
  width: 1010px;
  height: 130px;
}

.exp_process_info div {
  display: inline-block;
  width: 120px;
  height: 30px;
  text-align: center;
  margin: 20px 75px;
  padding-top: 5px;
  left: 65px;
  background: rgba(255, 255, 255);
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
}

.exp_process_info li:hover {
  background: #0038a9;
  color: white;
  cursor: pointer;
}

/* fifth */
.fifth_bg {
  width: 100%;
  height: 300px;
  /* position: relative; */
  background: rgb(255, 226, 187);
  margin: 0 auto;
}
.fifth {
  width: 1000px;
  margin: 0 auto;
}

.warn1,
.warn2 {
  float: left;
  width: 500px;
}

.warn1_h3 {
  width: 180px;
  height: 45px;
  font-size: 30px;
  font-family: "TmoneyRoundWindExtraBold";
  background: #583c00;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
  border-radius: 0 0 15px 15px;
}

.fifth ul {
  margin-top: 30px;
  font-size: 15px;
  padding-left: 20px;
  /* list-style-image: url(../images/list-style.png) no-repeat; */
}

.warn2_h3 {
  width: 280px;
  height: 45px;
  font-size: 30px;
  font-family: "TmoneyRoundWindExtraBold";
  background: #583c00;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
  border-radius: 0 0 15px 15px;
}

.fifth li {
  list-style-type: disc;
  line-height: 23px;
}

.fifth p {
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 16px;
  border-radius: 50px;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
  background-image: url(../images/hover01.png);
  background: #db8400;
}

.fifth p a {
  color: #fff;
}
