/* import */
@import "reset.css"; /* reset */
@import "font.css"; /* font */
@import "common.css"; /* 공통 클래스 */

/* content */
.h2_wrap {
  background-color: #e0f8ff;
  text-align: center;
  height: 210px;
  padding-top: 50px;
  /* margin-top: 50px; */
}
.h2_wrap h2 {
  font-family: "katuri";
  font-size: 70px;
  font-weight: 200;
}
h2 > span {
  color: #1e91b4;
}
.sub_title1 {
  font-family: "katuri";
  font-size: 30px;
  font-weight: 300;
  margin-top: 50px;
}
.sub_title2 {
  font-family: "noto sans JK";
  font-size: 20px;
}
/* .review_wrap {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
}
.review_write {
  width: 1000px;
  border: 1px solid black;
}
.review_write div {
  width: 800px;
}
.review_write button {
  width: 170px;
  height: 100px;
  background-color: #0093da;
  color: #fff;
  border: none;
  margin: 0 0 0 1000px;
} */

.review_wrap {
  width: 100%;
}
.review_photo li {
  float: left;
}
img {
  width: 320px;
  padding: 100px 30px;
}
ul img:nth-child(3) {
  background-image: url(../images/review_pre.png) no-repeat center;
  background-size: 15px 15px;
}
.review_cont {
  clear: both;
  width: 1000px;
  height: 150px;
  background: #d6e9ff;
  margin: 0 auto;
  padding-left: 30px;
  margin-bottom: 150px;
  font-size: 20px;
  padding-top: 50px;
  border-radius: 20px;
}

.review_ID {
  font-family: "katuri";
  font-size: 15px;
  position: relative;
  color: #333;
  top: 80px;
  left: 10px;
}
